html{height:100%;font-size: 62.5%;letter-spacing:1px;}
body,ul{margin:0;padding:0;}
ul{list-style:none;}

.fl{float:left;}
.fr{float:right;}
.por{position:relative;}
.poa{position:absolute;}
.tac{text-align:center;}
.tal{text-align:left;}
.tar{text-align:right;}
.bg{width:100%;height:100%;top:0;left:0;}
.of{opacity:.5;filter:alpha(opacity=50);}
.of9{opacity:.9;  filter:alpha(opacity=90);}
.yh{font-family:Microsoft YaHei,Microsoft JhengHei;}
.kt{font-family:KaiTi;}
.line{border-bottom:1px solid #fff;padding:0 0 15px;}
.bg-eee{background-color:#eee;}
.bg-ccc{background-color:#ccc;}
.bg-fff{background-color:#fff;}
.bg-000{background-color:#000;}
.color-fff,.color-fff a{color:#fff;}
.color-000,.color-000 a{color:#000;}
.fs12{font-size:12px;}
.br10{border-radius:10px;}
.auto{margin:0 auto;}
.more{color:#000;font-size:12px;font-weight:bold;text-decoration:none;letter-spacing:2px;color:#fff;}
body{background-attachment:fixed;background-repeat:no-repeat;background-size:cover;background-position:50% 50%;}
.bg0{background-image:url(../img/bg0.jpg);}
.bg1{background-image:url(../img/bg1.jpg);}
.bg2{background-image:url(../img/bg2.jpg);}

.main{width:50%;height:332px;margin:-168px auto 10px;overflow:hidden;top:50%;}
.main-inner{padding:20px 10px 10px;width:94%;}
.main-list-ul{line-height:14px;}
.index-title{letter-spacing:2px;color:#fff;font-size:1.4rem;text-decoration:none;font-family: Georgia, serif;font-weight:bold;}
.index-title:hover{text-decoration:underline;}
.maxim{font-size:20px;width:100%;}
.animation-maxim{ -webkit-animation: animationMaxim 10s;-webkit-animation-fill-mode:forwards;}
.animation-maxim2{ -webkit-animation: animationMaxim2 12s;-webkit-animation-fill-mode:forwards;}
.animation-maxim3{ -webkit-animation: animationMaxim3 12s;-webkit-animation-fill-mode:forwards;}
.article-list{opacity:.0;  filter:alpha(opacity=0);}
.animation-article-list{-webkit-animation: animationArticle 10s;-webkit-animation-fill-mode:forwards;}
.animation-article-list2{ -webkit-animation: animationArticle2 12s;-webkit-animation-fill-mode:forwards;}
.animation-article-list3{ -webkit-animation: animationArticle3 12s;-webkit-animation-fill-mode:forwards;}
.article{width:80%;overflow:hidden;border-radius:10px;height:90%;margin-top:50px;}


/*
 * 小于480px时
*/
@media (max-width: 480px) {
  .main{width:90%;}
  .article{font-size:14px;}
}
/*
 * 动画
*/

@-webkit-keyframes animationMaxim /* “格言”淡入淡出 */
{
0%   {opacity:.0;  filter:alpha(opacity=0);}
20%  {opacity:1;  filter:alpha(opacity=100);}
25%  {opacity:1;  filter:alpha(opacity=100);}
45% {opacity:0;  filter:alpha(opacity=0);}
100% {opacity:0;  filter:alpha(opacity=0);}
}
@-webkit-keyframes animationArticle /* 文章列表淡入 */
{
0%   {opacity:.0;  filter:alpha(opacity=0);}
45%  {opacity:0;  filter:alpha(opacity=0);}
65%  {opacity:1;  filter:alpha(opacity=1);}
100%  {opacity:1;  filter:alpha(opacity=1);}
}

@-webkit-keyframes animationMaxim2 /* “格言”淡入淡出2，增加2s总时间12s，1s等于8% */
{
0%   {opacity:0;  filter:alpha(opacity=0);}
8%  {opacity:0;  filter:alpha(opacity=0);}
24%  {opacity:1;  filter:alpha(opacity=100);}
28% {opacity:1;  filter:alpha(opacity=100);}
44% {opacity:0;  filter:alpha(opacity=0);}
100% {opacity:0;  filter:alpha(opacity=0);}
}
@-webkit-keyframes animationArticle2 /* 文章列表淡入2 */
{
0%   {opacity:1;  filter:alpha(opacity=100);}
8%  {opacity:0;  filter:alpha(opacity=0);}
44%  {opacity:0;  filter:alpha(opacity=0);}
100%  {opacity:1;  filter:alpha(opacity=100);}
}

@-webkit-keyframes animationMaxim3 /* “格言”淡入淡出2，增加2s总时间12s，1s等于8% */
{
0%   {opacity:.0;  filter:alpha(opacity=0);}
8%  {opacity:0;  filter:alpha(opacity=0);}
24%  {opacity:1;  filter:alpha(opacity=100);}
28% {opacity:1;  filter:alpha(opacity=100);}
44% {opacity:0;  filter:alpha(opacity=0);}
100% {opacity:0;  filter:alpha(opacity=0);}
}
@-webkit-keyframes animationArticle3 /* 文章列表淡入2 */
{
0%   {opacity:1;  filter:alpha(opacity=100);}
8%  {opacity:0;  filter:alpha(opacity=0);}
44%  {opacity:0;  filter:alpha(opacity=0);}
100%  {opacity:1;  filter:alpha(opacity=100);}
}

/* 导航 */
.nav{height:30px;width:100%;line-height:30px;background:#000;color:#fff;position:fixed;top:0;opacity:.7;  filter:alpha(opacity=70);}
.nav-a-wrap{float:right;}
.nav a{color:#fff;float:left;margin-right:10px;text-decoration:none;}
.nav a:hover{text-decoration:underline;}

.article-list-page{margin-top:50px;width:80%;}
.tag-wrap{margin-top:50px;width:80%;}
.tag-wrap-ul{overflow:hidden;}
.tag-wrap-li{float:left;margin-right:10px;}

.introduction-wrap,.other-wrap{margin-top:50px;width:80%;}